*,*::before,*::after {
 user-select: none;
}


.screen {
    width: 52%;
    height: 75%;
    border: 4px solid black;
    position: absolute;
    left: 24%;
    top: 15%;
    background-image: url("https://cdn2.vectorstock.com/i/1000x1000/51/06/cartoon-space-landscape-cosmic-planet-surface-vector-34695106.jpg");
    background-size: cover;
}

.start_message {
    position: absolute;
    font-size: 5vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.end-screen {
    position: absolute;
    font-size: 5vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#reset_button {
    position: absolute;
    font-size: 3vmin;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    font-weight: bold;
}

#robot {
    width: 10%;
    height: 15%;
    position: relative;
    background-image: url("https://media.discordapp.net/attachments/950657961657778216/950665662223749160/fdAsset_5.png");
    background-size: cover;
    top: 71%;
    left: 24%;
}

#object {
    width: 9%;
    height: 11%;
    position: relative;
    top: 67%;
    left: 91%;
    background-image: url(/images/object_1_2.png);
    background-size: cover;
}

#object2 {
    width: 9%;
    height: 11%;
    position: relative;
    top: 56%;
    left: 91%;
    background-image: url(/images/object_1_2.png);
    background-size: cover;
}

.object_move {
    animation: object_move 1.9s infinite linear;
}

.object2_move {
    animation: object2_move 3s infinite linear;
}

@keyframes object_move {
    0% {
        left: 91%;
        top: 67%;
    }
    50% {
        left: 45.5%;
        top: 59%;
    }
    100% {
        left: -12%;
        top: 71%;
    }
}

@keyframes object2_move {
    0% {
        left: 91%;
        top: 56%;
    }
    50% {
        left: 45.5%;
        top: 46%;
    }
    100% {
        left: -12%;
        top: 59%;
    }
}

.robot_jump {
    animation: robotjump 0.6s linear;
}

.robot_double_jump {
    animation: robot_doublejump 1s linear;
}

@keyframes robotjump {
    0% {
        top: 73%;
    }
    50% {
        top: 48%;
    }
    100% {
        top: 73%;
    }
}

@keyframes robot_doublejump {
    0% {
        top: 73%;
    }
    50% {
        top: 40%;
    }
    100% {
        top: 73%;
    }
}

.hide {
    display: none;
}

.score {
    font-size: 3vmin;
    font-family: monospace;
    position: relative;
    left: 102vmin;
    top: 1vmin;
    color: white;
}