.screen {
    width: 800px;
    height: 500px;
    border: 2px solid black;
    margin: auto;
    background-image: url("https://cdn2.vectorstock.com/i/1000x1000/51/06/cartoon-space-landscape-cosmic-planet-surface-vector-34695106.jpg");
    background-size: cover;
}