.screen {
    width: 52%;
    height: 75%;
    border: 2px solid black;
    position: absolute;
    left: 24%;
    top: 10%;
    background-image: url("https://cdn2.vectorstock.com/i/1000x1000/51/06/cartoon-space-landscape-cosmic-planet-surface-vector-34695106.jpg");
    background-size: cover;
}

.start_message {
    position: absolute;
    font-size: 5vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.robot {
    width: 10%;
    height: 15%;
    position: relative;
    background-image: url("https://media.discordapp.net/attachments/950657961657778216/950665662223749160/fdAsset_5.png");
    background-size: cover;
    top: 73%;
    left: 24%;
}

.robotjump {
    animation: robotjump 0.5s linear;
}

@keyframes robotjump {
    0% {
        top: 73%;
    }
    50% {
        top: 60%;
    }
    100% {
        top: 73%;
    }
}

.hide {
    display: none;
}